.img__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 150px;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img__box img {
  height: 150px;
  border-radius: 10px;
}
